[mysqld]
plugin-load-add=sql_errlog
general_log=1
general_log_file=/var/log/mysql/queries.log
sql_error_log_filename=/var/log/mysql/sql_error.log
slow_query_log=1
slow_query_log_file=/var/log/mysql/mariadb-slow-queries.log
long_query_time=3
log_queries_not_using_indexes=1
log_slow_rate_limit=10
